<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <plugins>
        <plugin interceptor="com.github.loafer.mybatis.pagination.PaginationInterceptor">
            <property name="dialect" value="oracle"/>
            <property name="stmtIdRegex" value="*.selectPaging"/>
        </plugin>
    </plugins>
</configuration>